*{
    margin: 0;
    padding: 0;
}
body {
    
}
#logo {
    display: inline-block;
    width: 50px;
}
#text-logo {
    display: inline-block;
    margin-left: 30px;
    font-size: 22px;
    margin-top: 12px;
}
i {
    display: inline-block;
    left:0;
}
.nav-br{
    display: inline-block;
    text-align: center;
     margin-left: 20% ;
     margin-top: 10px;
}
.nav{
    display: inline-block;
    text-align: center;
    color: dimgray;
   
}
#log {
    display: inline-block;
    margin-left: 25%;
    background-color: black;
    color: aliceblue;
    border-radius: 44%;
    width: 90.62px;
    height: 35px;
    text-align: center;
    font-size: 20px;
}
#sign {
    display: inline-block;
    margin-left: 2%;
    border:1px solid rgb(144, 148, 151);
    width: 174px;
    border-radius: 26%;
    height: 35px;
    text-align: center;
    font-size: 20px;
    
}
#icons{
   display: inline-block;
   margin-left: 20px;
   margin-top: 2%; 
}
main{
    margin:130px 529px;
}
.img {
    display: inline-block;
    left: 0;
    width: 15%;
    margin: 0 auto;
}